.conteudo{
    display: flex;
}
.conteudo-principal{
    flex-grow: 3;
}
:root{
    --pramaria: #584ab0;
    --secundaria: #373f51;
    --secundaria-ativa: #cccccc;
    --fundo: #ffffff; 
    --fundo-detalhes: #ececec;
}